<div class="soc">
	<a href="https://www.facebook.com/motoprostir.ukraine/" target="blank">
		<%= image_tag 'helmet-integral-vintage.jpg' %>
	</a>
	<p class="facebook">
		<a href="https://www.facebook.com/motoprostir.ukraine/" target="blank">Facebook - Click - Clack</a>
	</p>
	<%= image_tag 'slide3.jpg' %>
	<p class="facebook">
		<a href="https://www.instagram.com/motoprostir.ukraine/" target="blank">Instagram - Badaw - Boom</a>
	</p>
	<%= image_tag 'parts3.jpg' %>
	<p class="facebook">
		YouTube - Raaa - Pa - Paw
	</p>
</div>