<% categories.each do |category, children| %>
<li class="nav-item">
	<%= link_to (category), class: "nav-link" do %>
	<i class="fa fa-minus" aria-hidden="true"></i>
	<%= category.title %>
	<% end %>
</li>
<% end %>	
<%# render "components/submenu_categories", categories: children if children.present? %>