<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="happy-user">
				<h4>Дякуємо за оформлення замовлення в нашому магазині!</h4>
				<h5>Після обробки замовлення наш менеджер Вам зателефонує ;)</h5>
			</div>
		</div>
	</div>
</div>