<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="trigger-center">
				<h4>
					Розділ ще формується, скоро все-все буде, контент-менеджер дуже старається..
					</h4>
			</div>
			<%= image_tag 'tired.jpg'  %>
		</div>
	</div>
</div>