
<div class="vacancies-block">
  <% if @partsearch.search_parts.empty? %>
  <div class="container">
    <div class="trigger-center">
      <h1>
        По вашому запиту вакансій не знайдено      
      </h1>
      <div class="comeback">
        <%= link_to 'Повернутися до пошуку', items_path, class: 'btn btn-warning' %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="trigger-center">
          <h1>Результати пошуку:</h1>
        </div>
        <table class="table table-striped" id="vacancy-list">
          <thead>
            <tr>
              <th>Назва товару</th>
              <th>Розділ</th>
              <th>Детальніше</th>
            </tr>
          </thead>
          <tbody>
            <% @partsearch.search_parts.each do |part| %>
            <tr>
              <td><%= link_to part.title, part %></td>
              <td><%= link_to 'Переглянути', part %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>
