.post-to {
	background-image: image-url('gloves-motorcycle.jpg');
	height: 300px;
	text-align: right;
	background-position: center;
	h1 {
		margin-top: 120px;
		color: #fff;
	}
	h2 {
		color: #fff;
	}
	p {
		color: #fff;
	}
}
.post-two {
	background-image: image-url('stars.jpg');
	height: 300px;
	text-align: right;
	background-position: center;
	h1 {
		margin-top: 120px;
		color: #fff;
	}
	h2 {
		color: #fff;
	}
	p {
		color: #fff;
	}
}
.posts-list {
	padding: 8px 0 8px 0px;
}
.post-title {
	margin: 10px 0 8px 0;
}
.post-body {
	margin-bottom: 0;
}
.fa-eye {
	margin-bottom: 20px;
}