<% content_for :head do %>
<title>Аксесуари для мотоцикла, скутера, ціни - купити в магазині MOTOPROSTIR | Україна</title>

<meta name="description" content="Аксесуари для мотоцикла, скутера та велосипеда в інтернет магазині - motoprostir.com.ua. Телефонуйте 063 637 01 39, швидка доставка, найкращі ціни" />
<meta name="keywords" content= "мото, мотоцикл, мото аксесуари, мото екіпіровка, мото запчастини, мото аксесуары, мото туризм" />
<meta property="og:image" content="https://motoprostir.com.ua/assets/logo-m-6cfb56906d95f3af8fc018d88e64c2e38c233c580de359eaa7cbf27a8129c784.png" />

<link rel="canonical" href="https://motoprostir.com.ua/" itemprop="url">

<meta property="og:site_name" content="motoprostir.com.ua | Придбати мото аксесуари: ціна, відуги, продаж.">
<meta property="og:url" content="https://motoprostir.com.ua/">
<meta property="og:description" content="Магазин аксесуарів для мототехніки та подорожей MOTOPROSTIR | UKRAINE">
<meta property="og:image" content="https://motoprostir.com.ua/assets/logo-m-6cfb56906d95f3af8fc018d88e64c2e38c233c580de359eaa7cbf27a8129c784.png">
<meta property="og:type" content="website">
<% end %>
<div class="categories-block">  
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="trigger-center">
          <h1>Обери свій шлях | Choose your destiny</h1>
        </div>
      </div>
      <% Category.roots.order(:title).each do |category| %>
      <div class="col-lg-4">
        <div class="category-view">
          <%= link_to (image_tag category.avatar.url(:medium)), category %>
          <p><%= link_to category.title,category %></p>
        </div>
      </div>
      <% end %>  
    </div>
  </div>
</div>