<% content_for :head do %>
<title>Аксесуари для мотоцикла, скутера, ціни - купити в магазині MOTOPROSTIR | Україна</title>

<meta name="description" content="Аксесуари для мотоцикла, скутера та велосипеда в інтернет магазині - motoprostir.com.ua. Телефонуйте 8 063 637 01 39, швидка доставка, найкращі ціни" />
<meta name="keywords" content= "мото, мотоцикл, мото аксесуари, мото екіпіровка, мото запчастини, мото аксесуары, мото туризм" />
<meta property="og:image" content="http://206.81.30.164/assets/ready-3f10a5ec5563675f257242d83c9acd26d761a6685eabdf63de54c870a69372af.jpg" />

<link rel="canonical" href="https://motoprostir.com.ua/" itemprop="url">

<meta property="og:site_name" content="motoprostir.com.ua | Придбати мото аксесуари: ціна, відуги, продаж.">
<meta property="og:url" content="https://motoprostir.com.ua/">
<meta property="og:description" content="Прагнемо до революційних змін. Від маленького магазину аксесуарів до мотопорталу MOTOPROSTIR UKRAINE">
<meta property="og:image" content="http://206.81.30.164/assets/logo-m-76831c3b6528fc0d5d2dc2e2584ef1037ad03517f24dea8b9aea9425d0d7b5ea.png">
<meta property="og:type" content="website">
<% end %>

<div class="categories-block">  
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="trigger-center">
          <h1>Choose your destiny:</h1>
        </div>
      </div>
      <% Category.roots.each do |category| %>
      <div class="col-lg-6">
        <div class="category-view">
          <%= link_to (image_tag category.avatar.url), category %>
          <p><%= link_to category.title,category %></p>
        </div>
      </div>
      <% end %>  
    </div>
  </div>
</div>